<h2 style="color: #333;">Sign In</h2>
<form [formGroup]="loginForm" >
  @if (error_message) {
    <h3 class="error-message">{{error_message}}</h3>
  }


    <div class="form-group"  >
        <label for="email" class="sr-only">Email address</label>
        <input type="email" formControlName="email" id="email" placeholder="Email address">
      @if (loginForm.get("email")?.invalid && loginForm.get("email")?.touched) {
        <div class="error-message">Email incorrect</div>
      }
    </div>

    <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input type="password" formControlName="password" id="password" placeholder="Password">
      @if (loginForm.get("password")?.invalid && loginForm.get("password")?.touched) {
        <div class="error-message">Password incorrect</div>
      }
    </div>

    <button (click)="onSubmit()" [disabled]="!loginForm.valid" class="btn primary-btn">Join us <span class="arrow">&rarr;</span></button>
</form>
